<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome, <%= user.username %>!</h1>
    <ul>
      <% for (var i = 0; i<todos.length; i++) { %>
        <li><%= todos[i].task%></li>
      <%}%>
    </ul>
  </body>
</html>
